#header {
    border: solid 1px black;
    margin: 10px, 0px;
}

#search {
    border: solid 1px blue;
}

#cards {
    border: solid 1px purple;
}

#map {
    border: solid 1px orange;
}

footer {
    border: solid 1px red;
}