#header {
    border: solid 1px black;
}

#search {
    border: solid 1px blue;

}

.current-weather {
    border: solid 1px green;
    
}

#cards {
    border: solid 1px purple;
}

#map {
    border: solid 1px orange;
}

footer {
    border: solid 1px red;
} 

